/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * GemsOfIridescia implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * gemsofiridescia.css
 *
 * GemsOfIridescia stylesheet
 *
 */

.all-visible-deck {
  position: relative !important;
}

.all-visible-deck:empty {
  display: none;
}

.all-visible-deck > .card {
  position: absolute !important;
}

.goi_thematicBackground body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center top;
}

.goi_thematicBackground #seemorelogs {
  background-image: none;
}

.goi_gameArea {
  --boardSize: 2500px;
  --playerBoardSize: 600px;
  --tileSize: 200px;
  --tileSpacing: 5px;
  --explorerSize: 175px;
  --gemSize: 90px;
  --dieSize: 80px;
  --cardSize: 300px;

  text-rendering: optimizeLegibility;

  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "d d d d d ."
    "a a a a a b"
    "a a a a a b"
    "a a a a a b"
    "a a a a a b"
    "a a a a a b"
    "c c c c c c";
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
  overflow-x: auto;
}

.goi_dialog {
  top: 300px !important;
  left: 200px !important;
}

.goi_buttonContainer_dlg a {
  margin: 0;
}

.goi_content_dlg .goi_card {
  height: 273px;
  width: 200px;
}

.goi_content_dlg .card-side {
  background-size: cover !important;
}

.goi_content_dlg .goi_cardTitle {
  font-size: 16px;
}

.goi_card {
  height: 409px;
  width: var(--cardSize);
}

.goi_card.goi_logImage {
  width: 300px;
}

.goi_logImage .goi_cardTitle {
  font-size: 2em;
}

.goi_card,
.goi_card .card-side {
  border-radius: 12px;
}

.goi_selectedCard {
  border: 4px solid red;
  transform: scale(1.01);
  z-index: 1;
}

.goi_cardTitle {
  font-family: "sketchnote-square", sans-serif;
  color: white;
  font-size: 1.5em;
  text-align: center;

  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bga-help_button .goi_cardTitle {
  font-size: 1.1em;
  top: 3%;
}

.goi_helpCardContent {
  font-family: "rooney-web", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;

  position: absolute;
  top: 17%;
  left: 2.5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2px;
  height: var(--maxHeight);
  overflow-y: auto;
  width: 100%;
}

.goi_helpCardContent > div {
  display: flex;
  flex-direction: column;
}

.goi_deckCounter {
  font-family: "sketchnote-square", sans-serif;
  background-color: white;
  border-radius: 100%;
  font-size: 1.5em !important;
  height: auto !important;
  width: 15% !important;
}

.goi_helpFolded {
  font-family: "sketchnote-square", sans-serif;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 100%;
}

.goi_helpCard {
  position: relative;
  background-image: url("img/playerAids.png");
  height: 273px;
  width: 200px;
}

.goi_helpCardSubtitle {
  line-height: 0.9em;
  text-indent: 2px;
  font-family: "sketchnote-square", sans-serif;
}

.goi_helpCard .goi_coinIcon {
  display: inline-block;
  background-image: url("img/gems.png");
  background-position: -500% 0;
  height: 12px;
  width: 12px;
}

.goi_coinIcon {
  position: relative;
  top: 2px;
  display: inline-block;
  background-size: cover;
}

.goi_gemCounter .goi_coinIcon {
  background-image: url("img/logMarkers.png");
}

.goi_gemCounter .goi_counterValue {
  font-family: "sketchnote-square", sans-serif;
}

.goi_gemCounter .goi_markerValue {
  font-size: 20px;
}

.goi_logMarker {
  position: relative;
  display: inline-block;
  top: 5px;
  background-image: url("img/logMarkers.png");
  background-size: cover;
  height: 20px;
  width: 20px;
}

.goi_markerValue {
  font-family: "sketchnote-square", sans-serif;

  position: absolute;
  font-size: 10px;
  top: 18%;
  left: 32%;
}

.goi_markerValue.goi_scoring {
  color: white;
}

.goi_playerPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;
  width: 100%;
}

.goi_gemCounters {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.goi_gemCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.goi_gemIcon {
  background-image: url("img/gems.png");
  background-size: cover;
  height: 40px;
  width: 40px;
}

.goi_gemIcon.goi_log {
  position: relative;
  top: 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.goi_opponentObjectives {
  pointer-events: none;
}

.goi_objectiveContent {
  font-family: "rooney-web", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;

  position: absolute;
  left: 0;
  bottom: 19%;
  text-align: center;
  max-height: 15%;
  overflow-y: auto;
  width: 100%;
}

.goi_rainbowOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.goi_rainbowOptions:empty {
  display: none;
}

.goi_selectedGem {
  border: 4px solid red;
}

.goi_selectedDie {
  border: 4px solid red !important;
  top: 16px;
}

.goi_activeDie {
  border: 4px dashed greenyellow;
}

.goi_gemDice {
  position: absolute;
  bottom: 42%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 90px;
  width: var(--dieSize);
}

.goi_gemDice .goi_die:nth-child(even) {
  position: relative;
  right: 100%;
}

.goi_stoneDice {
  position: absolute;
  bottom: 33%;
  right: 14%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.goi_sceneDice {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.goi_dieFace {
  background-image: url("img/dice.png");
}

.goi_items {
  grid-area: b;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: calc(var(--cardSize) * 2.1);
}

.goi_void {
  position: absolute !important;
  bottom: 0;
  left: 25%;
}

.goi_merchant {
  position: relative;
  width: 100%;
}

.goi_itemsDeck {
  position: absolute !important;
  top: 5px !important;
}

.goi_itemsMarket {
  display: grid;
  grid-template-columns: repeat(2, var(--cardSize));
  grid-template-rows: repeat(3, 409px);
  gap: 16px;
  height: 1260px !important;
  width: 100%;
}

.goi_itemPlaceholder {
  grid-column: 1;
  grid-row: 1;
}

.goi_itemsZone {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-height: calc(409px + 20px);
}

.goi_zoneTitle {
  font-family: "sketchnote-square", sans-serif;
  font-size: 2.5em;
}

.goi_itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  width: var(--cardSize);
}

.goi_activeItems {
  width: var(--cardSize) !important;
}

.goi_itemsDiscard {
  pointer-events: none;
  width: var(--cardSize) !important;
}

.goi_item,
.goi_item .card-side {
  background-image: url("img/items.png");
}

.goi_itemContent {
  font-family: "rooney-web", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2%;
  top: 72%;
  text-align: center;
  height: 15%;
  overflow-y: auto;
  width: 95%;
}

.goi_board {
  grid-area: a;
  display: flex;
  position: relative;
  background-image: url("img/board.jpg");
  background-size: cover;
  height: calc(var(--boardSize) / 1.178);
  width: var(--boardSize);
}

.goi_scoringTrack {
  width: var(--boardSize);
}

.goi_scoringHundred {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 50px;
}

.goi_scoringMarker {
  position: absolute;
  transform: rotate(45deg);
  height: 50px;
  width: 50px;
}

.goi_scoringMarker:not(:first-child) {
  margin-top: 4px;
}

.goi_scoreHundred {
  font-family: "sketchnote-square", sans-serif;
  position: absolute;
  top: 30%;
  left: 25%;
  color: white;
  transform: rotate(-45deg);
}

.goi_tilesGrid {
  position: absolute;
  top: 275px;
  left: 275px;
}

.goi_tilesRow {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, var(--tileSize));
  gap: 10px;
}

.goi_tilesRow:nth-child(odd) {
  margin-left: calc(var(--tileSize) / 2);
}

.goi_tileContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: calc((var(--tileSpacing) - var(--tileSize)) * 0.28);
  height: calc((var(--tileSize) + var(--tileSpacing)) * 1.15);
  width: calc(var(--tileSize) + var(--tileSpacing));
}

.goi_tileContainer:empty {
  visibility: hidden;
}

.goi_tile {
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: #343131;
  bottom: 2px;
  left: 2px;
  height: calc((var(--tileSize) + var(--tileSpacing)) * 1.15);
  width: calc(var(--tileSize) + var(--tileSpacing));
}

.goi_emptyTile {
  background-color: green;
  opacity: 0.5;
}

.goi_tile.goi_logImage {
  height: 230px;
  width: 200px;
}

.goi_tile .card-side {
  box-shadow: none !important;
  height: 230px;
  width: var(--tileSize);
}

.goi_selectedTile {
  transform: scale(1.025);
  z-index: 1;
}

.goi_selectedTile::after {
  position: absolute;
  bottom: 24px;
  left: 80px;

  animation: pickaxe infinite 2s;
  content: "";
  background: url("img/pickaxe.png");
  height: calc(var(--tileSize) / 5);
  width: calc(var(--tileSize) / 5);
  z-index: 1;
}

@keyframes pickaxe {
  0% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.goi_playerZones {
  grid-area: c;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  max-width: calc(var(--boardSize) + (var(--cardSize) * 2) + 24px);
  width: 100%;
}

.goi_playerZoneContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-grow: 1;
  border: 8px double white;
}

.goi_selectablePlayerZone {
  cursor: pointer;
}

.goi_unselectablePlayerZone {
  opacity: 0.75;
  cursor: not-allowed;
}

.goi_selectedPlayerZone {
  border-style: solid;
  transform: scale(1.01);
}

.goi_playerZone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.goi_playerHand {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.goi_book .goi_relic {
  margin-top: -110%;
  z-index: 11;
}

.goi_victoryPiles {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.goi_castlePile {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.goi_royaltyToken {
  background-image: url("img/royaltyTokens.png");
  height: 250px;
  width: 250px;
  margin: 0 -48px;
}

.goi_royaltyToken .card-side {
  box-shadow: none !important;
}

.goi_playerBoard {
  position: relative;
  display: grid;
  grid-template-rows: 1.1fr 0.9fr;

  background: url("img/playerBoards.png");
  height: var(--playerBoardSize);
  width: var(--playerBoardSize);
}

.goi_scene {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.goi_sceneExplorer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goi_explorer {
  pointer-events: none;
  bottom: 12px;

  background-image: url("img/explorers.png");
  height: var(--explorerSize);
  width: var(--explorerSize);
  z-index: 1;
}

.goi_cargo {
  position: relative;
}

.goi_cargoExcedent {
  box-sizing: border-box;
  position: absolute;
  top: calc(var(--playerBoardSize) / 5 * -1);
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: var(--playerBoardSize);
  overflow-x: auto;
}

.goi_cargoBox {
  position: absolute;
  aspect-ratio: 1;
  width: var(--gemSize);
}

.goi_cargoBox[data-box="1"] {
  top: 10%;
  left: 19%;
}
.goi_cargoBox[data-box="2"] {
  top: 10%;
  left: 43%;
}
.goi_cargoBox[data-box="3"] {
  top: 10%;
  left: 67%;
}
.goi_cargoBox[data-box="4"] {
  top: 50%;
  left: 8%;
}
.goi_cargoBox[data-box="5"] {
  top: 50%;
  left: 32%;
}
.goi_cargoBox[data-box="6"] {
  top: 50%;
  left: 56%;
}
.goi_cargoBox[data-box="7"] {
  top: 50%;
  left: 80%;
}

.goi_gem {
  background-image: url("img/gems.png");
  height: var(--gemSize);
  width: var(--gemSize);
}

.goi_gem .card-side {
  box-shadow: none !important;
}

.goi_tileContainer:hover > .goi_tile ~ .goi_explorer {
  opacity: 0.4;
  transition: 2s;
}

.goi_explorer .card-side {
  box-shadow: none !important;
}

.goi_relicsContainer {
  grid-area: d;
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.goi_relicsMarket {
  display: flex;
  gap: 8px;
  overflow-y: hidden;
  overflow-x: auto;
}

/* END OF CUSTOM STYLES */

#bga-zoom-wrapper {
  position: relative;
}
#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}
#bga-zoom-wrapper .bga-zoom-inner[data-smooth="true"] {
  transition: transform 0.5s;
}
#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}
#bga-zoom-wrapper #bga-zoom-controls[data-position="top-left"] {
  left: 0;
}
#bga-zoom-wrapper #bga-zoom-controls[data-position="top-right"] {
  right: 0;
}
#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}
#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}
#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}
#bga-zoom-wrapper #bga-zoom-controls[data-color="white"] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}
#bga-zoom-wrapper #bga-zoom-controls[data-color="white"] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

/* END OF BGA-ZOOM */

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}
.card[data-side="back"] .card-sides {
  transform: rotateY(180deg);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}
.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
  pointer-events: all;
}
.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.card-stock.line-stock[data-center="true"] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.card-stock.slot-stock[data-center="true"] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}
.card-stock.scrollable-stock[data-scrollbar-visible="false"] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card-stock.scrollable-stock[data-scrollbar-visible="false"]::-webkit-scrollbar {
  display: none;
}
.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}
.card-stock.scrollable-stock .scrollable-stock-inner[data-center="true"] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}
.card-stock.hand-stock .card {
  transform: translateY(
      calc(var(--card-shift) * var(--hand-stock-middle-index-abs))
    )
    rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}
.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}
.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}
.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}
.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}
.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift))
      calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111,
    calc(var(--thickness) * var(--xShadowShift))
      calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}
.card-stock.deck[data-empty="true"] > .card {
  visibility: hidden;
}
.card-stock.deck[data-empty="true"] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(
    var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2
  );
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}
.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}
.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}
.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
    background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}
.card-stock.all-visible-deck.vertical:hover,
.card-stock.all-visible-deck.vertical:active,
.card-stock.all-visible-deck.vertical.opened {
  /* height: calc(
    (var(--height) + var(--vertical-shift)) * var(--tile-count) -
      var(--vertical-shift)
  ); */
  z-index: 1;
}
.card-stock.all-visible-deck.vertical:hover > .card,
.card-stock.all-visible-deck.vertical:active > .card,
.card-stock.all-visible-deck.vertical.opened > .card {
  top: calc(-1 * var(--height) * var(--order));
}
.card-stock.all-visible-deck.horizontal:hover,
.card-stock.all-visible-deck.horizontal:active,
.card-stock.all-visible-deck.horizontal.opened {
  width: calc(
    (var(--width) + var(--horizontal-shift)) * var(--tile-count) -
      var(--horizontal-shift)
  );
  z-index: 1;
}
.card-stock.all-visible-deck.horizontal:hover > .card,
.card-stock.all-visible-deck.horizontal:active > .card,
.card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}
.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
.card-stock.all-visible-deck[data-empty="true"] > .card {
  visibility: hidden;
}
.card-stock.all-visible-deck[data-empty="true"]
  .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

/* END OF BGA-CARDS */

body > .bga-dice_die {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bga-dice_die {
  --roll-duration: 1000ms;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: center center;
}
.bga-dice_die .bga-dice_die-faces {
  transform-origin: center center;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  transform: rotate3d(1, 1, 1, -720deg);
  transition: transform var(--roll-duration) ease-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}
.bga-dice_die .bga-dice_die-faces .bga-dice_die-face {
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.bga-dice_die4 {
  --third-size: calc(var(--size) / 3 * 0.6);
  transform: translateZ(var(--third-size));
}
.bga-dice_die4 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotateZ(0deg) rotateX(0deg);
}
.bga-dice_die4 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(0, 1, 0, 180deg) rotateZ(0deg) rotateX(70.528779deg);
}
.bga-dice_die4 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotateZ(180deg) rotateX(250deg) rotateZ(-120deg);
}
.bga-dice_die4 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotateX(120deg) rotateZ(-60deg);
}
.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 86.6%;
  transform-origin: 50% 66.66667%;
  margin-left: calc(var-(--size) * -0.5);
  margin-top: calc(var-(--size) * -0.5);
}
.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--third-size));
}
.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotateZ(0deg) rotateX(-70.528779deg) translateZ(var(--third-size));
}
.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotateZ(120deg) rotateX(-70.528779deg)
    translateZ(var(--third-size));
}
.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotateZ(240deg) rotateX(-70.528779deg)
    translateZ(var(--third-size));
}
.bga-dice_die4
  .bga-dice_die-faces
  .bga-dice_die-face
  .bga-dice_die-face-number {
  transform-origin: center 66.66667%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: block;
}
.bga-dice_die4
  .bga-dice_die-faces
  .bga-dice_die-face
  .bga-dice_die-face-number:nth-child(1) {
  transform: rotateZ(0deg);
}
.bga-dice_die4
  .bga-dice_die-faces
  .bga-dice_die-face
  .bga-dice_die-face-number:nth-child(2) {
  transform: rotateZ(120deg);
}
.bga-dice_die4
  .bga-dice_die-faces
  .bga-dice_die-face
  .bga-dice_die-face-number:nth-child(3) {
  transform: rotateZ(240deg);
}

.bga-dice_die6 {
  --half-size: calc(var(--size) / 2);
  transform: translateZ(var(--half-size));
}
.bga-dice_die6 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg);
}
.bga-dice_die6 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(1, 0, 0, 90deg);
}
.bga-dice_die6 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotate3d(0, -1, 0, 90deg);
}
.bga-dice_die6 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotate3d(0, 1, 0, 90deg);
}
.bga-dice_die6 .bga-dice_die-faces[data-visible-face="5"] {
  transform: rotate3d(-1, 0, 0, 90deg);
}
.bga-dice_die6 .bga-dice_die-faces[data-visible-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg);
}
.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face {
  border-radius: var(--bga-dice_border-radius);
}
.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg) translateZ(var(--half-size));
}
.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--half-size));
}
.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--half-size));
}
.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--half-size));
}
.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(var(--half-size));
}
.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--half-size));
}

.bga-dice_die-stock {
  perspective: var(--perspective);
  transform-style: preserve-3d;
  transform-origin: center center;
}
.bga-dice_die-stock
  .bga-dice_die.bga-dice_selectable-die:not(.bga-dice_disabled-die) {
  cursor: pointer;
}
.bga-dice_die-stock .bga-dice_die.bga-dice_disabled-die {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.bga-dice_die-stock.bga-dice_line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.bga-dice_die-stock.bga-dice_line-stock[data-center="true"] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.bga-dice_die-stock.bga-dice_slot-stock[data-center="true"] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_manual-position-stock {
  position: relative;
}
.bga-dice_die-stock.bga-dice_manual-position-stock .bga-dice_die {
  position: absolute;
}

.bga-dice_die-stock.bga-dice_void-stock {
  position: relative;
}
.bga-dice_die-stock.bga-dice_void-stock .bga-dice_die {
  position: absolute;
}

/* END OF BGA-DICE */

#bga-help_buttons {
  position: fixed;
  bottom: 12px;
  left: 5px;
  display: flex;
  gap: 10px;
  z-index: 949;
  align-items: flex-end;
}

.bga-help_button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
}

.bga-help_popin-button {
  --background: black;
  --color: white;
  font-weight: bold;
  font-size: 28pt;
  background: var(--background);
  color: var(--color);
}

.bga-help_expandable-button {
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  display: grid;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.bga-help_expandable-button .bga-help_folded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 1;
  width: 50px;
  height: 50px;
}
.bga-help_expandable-button .bga-help_unfolded-content {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
}
.bga-help_expandable-button[data-folded="false"] {
  width: var(--expanded-width);
  height: var(--expanded-height);
  border-radius: var(--expanded-radius);
}
.bga-help_expandable-button[data-folded="false"] .bga-help_folded-content {
  opacity: 0;
}
.bga-help_expandable-button[data-folded="false"] .bga-help_unfolded-content {
  opacity: 1;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #bga-help_buttons {
    bottom: 5px;
  }
}
#popin_bgaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_bgaHelpDialog {
  --background-color: white;
  background: var(--background-color);
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-dialog-content {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}

/* END OF BGA-HELP */
